@media (max-width: 768px) {
    #cont-perfiles, .box-text, .box-letras {
      display: none;
    }
    #cont-general{
      margin-left: 21%;
    }
    main{
      width: 90%;
    }
    
    #nav-lateral{
      width: 10%;
      align-items: center;
    }
} 

@media (min-width: 768px) {
  .icon-inst{
    display: none;
  }
}