main {
    height: 100%;
    width: 85%;
    margin-left: 2%;
}

#container{
    width: 100%;
    margin-left: 15%;
    padding: 30px 20px 0px;
    display: flex;
    flex-direction: column;
}

#cont-info{
   width: 90%;
   margin: 90px 90px 70px 90px; 
}

.inf-sec1, .inf-sec2{
    display: flex;
    width: 100%;
    padding: 0% 20%;
}

.inf-foto{
    display: flex;
    padding-right: 30px;
}

.inf-foto img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid rgba(23, 32, 110, 0.3);
}

.box-inf{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.cont-nam-bot{
    display: flex;
    margin-bottom: 10px;
}
.cont-nam-bot button{
    margin: 0px 16px;
    padding: 5px;
}

.bontDif{
    border-radius: 10%;
    background-color: #EFEFEF;
    color: black;
}
.bontDif:hover{
    background-color: var(--color-azuOs);
    background-color: #efefef;
}
.cont-nam-bot i{
    font-size: 20px;
    padding: 8px;
}
.cont-num{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
}

.num{
    padding: 0px 5px;
}

.num-publ, .num-seguidores, .num-seguidos, .cont-name {
    display: flex ;
}

.cont-img img{
    width: 77px;
    height: 77px;
    border-radius: 50%;
}

.con-historias{
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cont-img{
    border: 2px solid rgba(23, 32, 110, 0.3);
    width: 88px;
    height: 88px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.cont-text{
    padding-top: 15px;
}
.cont-text p, .cont-num p, .cont-nam-bot p{
    margin-bottom: 0rem;
}

.inf-sec2{
    padding-top: 30px;
}

.cont-img i {
    font-size: 77px;
}


#cont-fotos, #cont-fotos-ex{
    padding-top: 30px;
    padding-bottom: 30px;
}
#cont-fotos{
    border-top: 2px solid rgba(23, 32, 110, 0.3);
    width: 90%;
    margin:0px 90px; 
}
#cont-fotos-ex{
    width: 70%;
    display: flex;
    margin:0% 15%; 
}


.box-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.gal-perfil{
    padding: 2px;
}
.gal-perfil img{
    width: 310px;
    height: 310px;
}