* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans Condensed', sans-serif;
}
#letras{
    font-family: 'Satisfy', cursive;
    color: var(--color-azuOs);
}

p, i{
    color: var(--color-azuOs);
}

:root {
 --color-azuCla: #18206f;
 --color-azuOs: #17255a;
 --color-rojo: #bd1e1e;
 --color-rojoCla: #d88373;
 --color-rojoCla2: #f5e2c8;
}

.modal{
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all .5s;
    align-items:center;
    justify-content: center;
}

.bi-x{
    display: block;
    justify-content:right;
    z-index: 100;
    position: relative;
    cursor: pointer;
    color: white;
    font-size: 40px;
}

#contClose{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 20px;
}

.headerModal{
    font-size: 16px;
    align-items: center;
    font-weight:600;
    padding: 10px;
}

.line{
    background-color: #c7c7c7;
    height: 1px;
    width:100%;
}

.preview{
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contenidosCrearModal{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#divFormCrear{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 525px;
    height: 568px;
    color: black;
    z-index: 100;
}

#formCrear{
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    background-color: white;
    z-index: 999;
}

#subir-archivo{
    display:flex;
    flex-flow: column;
}

#divSeguidores{
    font-size: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    color: black;
    z-index: 100;
}

.preview img{
    height: 80px;
}
/* Nav */
#nav-lateral {
    padding: 12px 8px;
    width: 15%;
    border-right: 2px solid;
    margin-right: 30px;
    position: fixed;
    flex-direction: column;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-color: rgba(23, 32, 110, 0.3);
}

.box-letras{
    width: 100%;
    height: auto;
    padding: 25px 12px;
    margin-bottom:  20px;
}

.box-botNav, .icon-inst{
    margin: 2px;
    padding: 12px;
}
.box-botNav, .icon-inst, .botonNav{
    width: 100%;
    display: flex;
}
.botonNav {
    align-items: center;
    height: 25px;
}

.box-icon i{
    padding: 0px;
    margin-right: 8px;
    font-size: 26px;
}

.box-icon img{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.box-text p{
    font-size: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 0rem;
}

.perfilNav{
    border-radius: 50%;
    height: 23px;
    width: 23px;
    display: flex;
}

button {
    border: none;
    background-color: rgb(255, 255, 255);
}
/* .box-botNav:hover, .botonNav:hover{
    background-color: rgba(217, 132, 115, 0.4);
} */

.img-lista{
    height: 44px;
    width: 44px;
    border-radius: 50%;
    border: 1px solid #a8a8a8;
}

.seguidores:hover{
    cursor:pointer;
}

.people{
    display: flex;
    flex-flow: row nowrap;
    font-size: 14px;
    padding: 8px 16px;
    color: black;
}

.del-seg{
    width: 89px;
    height: 32px;
    font-weight: bold;
}

.nombresSeg{
    width: 200px;
    margin-bottom: 0;
    flex-direction: column;
}

.img-redonda{
    width: 54px;
    height: 54px;
    justify-content: center;
    
}

.del-seg{
    background-color: #EFEFEF;
    border-radius: 10%;
}

.seguidos:hover{
    cursor: pointer;
}

.buttonSeguido{
    background-color: #EFEFEF;
    border-radius: 10%;
    color: black;
    olor:white;
    height: 30px;
}

.buttonSeguir{
    background-color: #0095F6;
    border-radius: 10%;
    color:white;
    height: 30px;
}

#divSeguidos{
    font-size: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    color: black;
    z-index: 100;
}

#notFound{
    display: flex;
    align-items: center;
    justify-content: center;
}