.boxitems2{
    display: inline-block;
}

i{
    font-size: 24px;
    padding: 8px;
}

.miperfil{
    height: 66px;
}

.boxfotoperfil{
    width: 65px;
    height: 65px;
}
.fotoperfil2{
    width: 60px;
    height: 60px;
}

.boxsugerencias{
    padding: 6px;
}

.boxsugerencia p{
    font-size: 20px;
}

.vertodo {
    margin-left: 10px;
}

.sugeridos {
    width: 32px;
    height: 32px;
}

.boxtodo{
    height: 50px;
}

#cont-general{
    align-items: stretch;
    justify-content: space-evenly;
    margin-left: 250px;
    width: 100%;
}
main {
    height: 100%;
    width: 85%;
}

/* Conjuntos */

body, .titulo, .fotopost, .miperfil, .comentario{
    width: 100%;
}

.boxsugerencias, .boxtodo{
    width: auto;
}

main {
    height: 100%;
}

.boxsugerencias, .fotopost, .perfiles{
    height: auto;
}

.items2, .comentarios{
    background-color: rgb(255, 255, 255);
}

main, .perfiles, .titulo, .infoperfil, .imagenpost, .boxusername, .username, .items2, .comentarios, .boxdecomentarios, .miperfil, .boxfotoperfil, .boxusuarios, .boxcambio ,  .boxdesegui, .boxsugerencia, .boxsugerencias, .boxprueba, .parte1, .sugeridos, .boxnombre, .boxtodo, #cont-general, #list-Comentarios, .comentario, .com{
    display: flex;
}

.perfiles, .boxusuarios, .boxsugerencia, .boxprueba, .boxnombre{
    flex-direction: column;
}

.parte1, .boxsugerencias, #cont-general{
    flex-direction: row;
}

.boxusuarios, .boxnombre, #cont-general{
    flex-wrap: nowrap;
}

.titulo, .infoperfil, .imagenpost, input, .miperfil, .boxfotoperfil, .boxusuarios, .boxcambio ,  .boxdeseguir, .boxsugerencias, .boxprueba, .boxnombre, .boxtodo{
    justify-content: center;
}

.titulo, .infoperfil, .imagenpost, .username, .miperfil, .boxsugerencias, .boxtodo, .com{
    align-items: center;
}

#cont-publicaciones, #cont-perfiles{
    margin-top: 40px;
}

.boxusuarios p, .boxcambio p, .boxsugerencias p, .boxtodo p{
    margin-bottom: 0rem;
}

.boxitems2marcador, .carafeliz, .opcion, .botonvertodo .columna2, #btn{
    margin-left: auto;
}

.boxusuarios, .boxcambio, .boxdenombre, .boxdeseguir{
    margin-left: 1rem;
}

input {
    border: none;
}

.perfiles, .items2, .comentarios{
    border: 1px solid;
}

.perfiles, .items2, .comentarios{
    border-color: rgba(23, 32, 110, 0.3);
}

.post, .fotoperfil2, .sugeridos{
    border-radius: 50%;
}

.boxnombre, .boxusuarios{
    padding: 4px;
}

.boxcambio ,  .boxdeseguir {
    text-align: center;
}

.seguir, .cambiar{
    color: var(--color-rojoCla);
}

.perfiles{
    width: 534px;
    border-radius: 5px;
    margin-bottom: 140px;
}

.infoperfil{
    width: 90%;
    padding: 0% 5%;
    margin: 10px 0px;
}

.imagenpost{
    width: 42px;
    height: 42px;
}
.post{
    width: 32px;
    height: 32px;
}

.boxusername{
    width: 368px;
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}
.username{
    width: 348px;
    height: 15px;
    margin-top: 13px;
    cursor: pointer;
}
.opcion{
    width: 40px;
    height: 40px;
}

.items2, .comentarios{
    padding: 8px 5px;
}
.comentarios{
    flex-direction: column;
}

.boxdecomentarios, .comentario{
    padding: 5px;
}