* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans Condensed', sans-serif;
}
#letras{
    font-family: 'Satisfy', cursive;
    color: var(--color-azuOs);
}

:root {
 --color-azuCla: #18206f;
 --color-azuOs: #17255a;
 --color-rojo: #bd1e1e;
 --color-rojoCla: #d88373;
 --color-rojoCla2: #f5e2c8;
}

.modal{
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all .5s;
    align-items: center;
    justify-content: center;
}

.bi-x{
    display: block;
    justify-content:right;
    z-index: 100;
    position: relative;
    cursor: pointer;
    color: white;
}

.headerModal{
    font-size: 16px;
    align-items: center;
    font-weight:600;
    padding: 10px;
}

#divFormCrear{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 525px;
    height: 568px;
    color: black;
    z-index: 100;
}

#formCrear{
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    background-color: white;
    z-index: 999;
}

#subir-archivo{
    display:flex;
    flex-flow: column;
}

#containerSeg{
    display:contents;
    position: relative;
    background-color: white;
    padding: 100px;
    font-size: 20px;
    color: black;
}

.preview img{
    height: 80px;
}