* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans Condensed', sans-serif;
}
#letras{
    font-family: 'Satisfy', cursive;
    color: var(--color-azuOs);
}

:root {
 --color-azuCla: #18206f;
 --color-azuOs: #17255a;
 --color-rojo: #bd1e1e;
 --color-rojoCla: #d88373;
 --color-rojoCla2: #f5e2c8;
}

.modal{
    display:none;
    background:  rgba(23, 32, 110, 0.9);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all .5s;
}