* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans Condensed', sans-serif;
}
#letras{
    font-family: 'Satisfy', cursive;
    color: var(--color-azuOs);
}

:root {
 --color-azuCla: #18206f;
 --color-azuOs: #17255a;
 --color-rojo: #bd1e1e;
 --color-rojoCla: #d88373;
 --color-rojoCla2: #f5e2c8;
}

.modal{
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all .5s;
}

#divFormCrear{
    display: flex;
    position: absolute;
    top: 100;
    left: 100;
    background-color: white;
    width: 500px;
    height: 600px;
    color: black;
    z-index: 100;
}

#formCrear{
    display: flex;
    top: 10;
    left: 10;
    position: absolute;
    background-color: white;
    z-index: 999;
}

#containerSeg{
    display:contents;
    position: relative;
    background-color: white;
    padding: 100px;
    font-size: 20px;
    color: black;
}