* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans Condensed', sans-serif;
}
#letras{
    font-family: 'Satisfy', cursive;
    color: var(--color-azuOs);
}

p, i{
    color: var(--color-azuOs);
}

:root {
 --color-azuCla: #18206f;
 --color-azuOs: #17255a;
 --color-rojo: #bd1e1e;
 --color-rojoCla: #d88373;
 --color-rojoCla2: #f5e2c8;
}

.modal{
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all .5s;
    align-items: center;
    justify-content: center;
}

.bi-x{
    display: block;
    justify-content:right;
    z-index: 100;
    position: relative;
    cursor: pointer;
    color: white;
}

#divFormCrear{
    display: flex;
    background-color: white;
    width: 525px;
    height: 568px;
    color: black;
    z-index: 100;
}

#formCrear{
    display: flex;
    top: 10;
    left: 10;
    position: absolute;
    background-color: white;
    z-index: 999;
}

#containerSeg{
    display:contents;
    position: relative;
    background-color: white;
    padding: 100px;
    font-size: 20px;
    color: black;
}

/* Nav */
#nav-lateral {
    padding: 12px 8px;
    width: 15%;
    border-right: 2px solid;
    margin-right: 30px;
    position: fixed;
    flex-direction: column;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-color: rgba(23, 32, 110, 0.3);
}

.box-letras{
    width: 100%;
    height: auto;
    padding: 25px 12px;
    margin-bottom:  20px;
}

.box-botNav, .icon-inst{
    margin: 2px;
    padding: 12px;
}
.box-botNav, .icon-inst, .botonNav{
    width: 100%;
    display: flex;
}
.botonNav {
    align-items: center;
    height: 25px;
}

.box-icon i{
    padding: 0px;
    margin-right: 8px;
    font-size: 26px;
}

.box-icon img{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.box-text p{
    font-size: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 0rem;
}

.perfilNav{
    border-radius: 50%;
    height: 23px;
    width: 23px;
    display: flex;
}

button {
    border: none;
    background-color: rgb(255, 255, 255);
}
/* .box-botNav:hover, .botonNav:hover{
    background-color: rgba(217, 132, 115, 0.4);
} */