
body {
    width: 100%;
}

main {
    display: flex;
    width: 100%;
    height: 100%;
}
p, i{
    color: var(--color-azuOs);
}
.perfiles {
    width: 534px;
    height: auto;
    border: 1px solid;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    margin-bottom: 140px;
}

.titulo{
    width: 100%;
    justify-content: center;
}

.titulo, .infoperfil{
    /* height: 60px; */
    display: flex;
    /* justify-content: space-between; */
    /* padding-left: 20px; */
    align-items: center;
}

.infoperfil{
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 0% 5%;
    margin: 10px 0px;
}

.imagenpost{
    width: 42px;
    height: 42px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.post{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.boxusername{
    width: 368px;
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    display: flex;
}
.username{
    width: 348px;
    height: 15px;
    margin-top: 13px;
    display: flex;
    align-items: center;
}
.opcion{
    width: 40px;
    height: 40px;
}

.fotopost{
    width: 100%;
    height: auto;
}

.items2, .comentarios{
    background-color: rgb(255, 255, 255);
    padding: 8px 5px;
    border: 1px solid ;
    display: flex;
}

.boxitems2{
    display: inline-block;
}

i{
    font-size: 24px;
    padding: 8px;
}

.boxitems2marcador, .carafeliz, .opcion, .botonvertodo .columna2{
    margin-left: auto;
}

input {
    border: none;
    justify-content: center;
}

.boxdecomentarios{
    display: flex;
    justify-content: center;
}

button {
    background-color: rgb(255, 255, 255);
    border: none;
}

.miperfil{
    width: 100%;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxfotoperfil{
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
}
.fotoperfil2{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.boxusuarios{
    padding: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    /* color: var(--color-azuOs) ; */
}

.boxusuarios p, .boxcambio p, .boxsugerencias p, .boxtodo p, .box-text p{
    margin-bottom: 0rem;
}

.boxusuarios, .boxcambio, .boxdenombre, .boxdeseguir{
    margin-left: 1rem;
}

.boxcambio ,  .boxdeseguir {
    display: flex;
    justify-content: center; 
    text-align: center;
}

.boxsugerencia{
    display: flex;
    flex-direction: column;
}

.boxsugerencias{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    padding: 6px;
    justify-content: center;
    align-items: center;
}

.seguir, .cambiar{
    color: var(--color-rojoCla);
}

.boxsugerencia p{
    font-size: 20px;
}

.vertodo {
    margin-left: 10px;
}
.parte1{
    display: flex;
    flex-direction: row;
    /* color: var(--color-azuCla); */
}

.boxprueba{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sugeridos {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
}

.boxnombre{
    padding: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.boxtodo{
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#cont-general{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    /* margin-top: 40px; */
    margin-left: 250px;
    width: 85%;
}

#cont-publicaciones, #cont-perfiles{
    margin-top: 40px;
}

#nav-lateral{
    padding: 12px 8px;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 2px solid;
    margin-right: 30px;
    position: fixed;
    /* color: var(--color-azuOs); */
}

.box-letras{
    width: 100%;
    height: auto;
    padding: 25px 12px;
    margin-bottom:  20px;
}
.box-botNav, .icon-inst{
    display: flex;
    width: 100%;
    padding: 12px;
    margin: 2px;
    /* background-color: none; */
}
/* .box-icon, .boxt-text{
    display: inline-flex;
} */
/* .box-botNav i {
    padding: 0px;
    font-size: 24px;
} */
.box-text p{
    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
    color: var(--color-azuOs);
}

.box-icon img{
    /* display: flex; */
    /* fill:#18206f; */
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.perfilNav {
    border-radius: 50%;
    height: 23px;
    width: 23px;
    display: flex;
}

.botonNav{
    width: 100%;
    display: flex;
    align-items: center;
    height: 25px;
    /* justify-content: center; */
}

.perfiles,.items2, .comentarios, #nav-lateral{
    border-color: rgba(23, 32, 110, 0.3);
}